# Week 2 Project

Our company "Zeta" has an algorithmic trading bot that purchases shares of stocks. We've been buying shares of TSLA and MSFT for a while now. Our bot buys 1 share at a time and the prices of each purchase is listed below.

In [17]:
tsla = [132.56, 105.2, 137.54, 124.31, 124.54, 108.52, 139.35, 121.49, 117.89, 100.79, 116.63, 108.02, 103.25, 105.72, 114.12, 128.8, 102.37, 114.9, 132.4, 135.3, 151.3, 134.8, 111.1, 132.1, 156.31, 114.58, 140.42, 127.02, 126.36, 132.64, 152.15, 126.19, 156.41, 148.95, 164.27, 129.99, 145.17, 151.98, 148.75, 144.75, 133.51, 146.97, 144.09, 129.79, 152.15, 161.55, 158.24, 157.89, 163.06, 180.86, 185.57, 198.29, 184.2, 183.68, 193.8, 201.32]

# to verify your numbers are correct and have not been altered, uncomment and run the following:
import hashlib; print("tsla prices are correct" if hashlib.md5(str(tsla).encode()).hexdigest() == '2157a3cc6c68b3ae3e26ae3101cf2c44' else "tsla prices are incorrect")

tsla prices are correct

In [2]:
msft = [167.69, 151.72, 141.38, 136.95, 146.5, 157.5, 177.42, 152.06, 147.97, 174.94, 162.73, 183.69, 139.53, 181.82, 167.49, 176.05, 179.25, 149.65, 183.38, 149.73, 151.2, 189.22, 166.28, 187.13, 195.46, 158.8, 154.24, 190.19, 153.23, 192.82, 176.67, 192.04, 177.19, 165.53, 184.44, 186.13, 199.71, 174.14, 175.61, 184.14, 205.52, 202.13, 180.19, 198.55, 204.91, 187.49, 183.52, 199.76, 212.38, 191.2, 222.39, 195.15, 185.7, 224.32, 195.49, 208.56, 184.11, 211.48, 207.77, 202.89, 186.68, 203.91, 234.01, 202.05, 205.86, 193.8, 213.51, 220.2, 234.56, 200.86, 206.04, 243.46, 243.3, 208.68, 220.96, 237.67, 208.42, 214.33, 251.64, 212.35, 217.35, 213.11, 251.61, 247.34, 234.95, 256.97, 235.53, 240.86, 213.03, 235.38, 257.89, 246.18, 234.4, 222.91, 253.5, 257.53, 266.9, 226.3, 230.97, 270.01]

# to verify your numbers are correct and have not been altered, uncomment and run the following:
import hashlib; print("msft prices are correct" if hashlib.md5(str(msft).encode()).hexdigest() == '5e0b3acc2d380c957f9db6487c0f4807' else "msft prices are incorrect")

msft prices are correct

### How many shares of TSLA did we buy?

Note: remember that for each buy, we bought 1 share.

In [8]:
len(tsla)

56

### What was the average price of our TSLA shares?

Average price = cost of all shares / number of shares

In [53]:
float(format(sum(tsla)/len(tsla),'.2f'))

140.07

### What was the lowest price we paid for a share of TSLA?

In [11]:
min(tsla)

100.79

### What was the highest price we paid for a share of TSLA?

In [12]:
max(tsla)

201.32

### Sort the list of TSLA shares in place. What was the five lowest prices we paid for TSLA shares?

In [54]:
tsla.sort()
print(tsla[:5])

[100.79, 102.37, 103.25, 105.2, 105.72]

### What were the five highest prices we paid for TSLA shares? 

Use a slice that includes a negative number

In [71]:
tsla[:-6:-1]

[201.32, 198.29, 193.8, 185.57, 184.2]

### How many unique values do we have in our list of TSLA prices?

In [44]:
s = set(tsla)
len(s)

55

### We have another algo running that also buys shares of TSLA. Using the following list and the set from before, output a list of the unique set of prices of the combined lists.

In [75]:
other_tsla_list = [114.12, 128.8, 102.37, 114.9, 132.4, 135.3, 151.3, 134.8, 111.1, 132.1]

# to verify the above numbers are correct and have not been altered, uncomment and run the following:
import hashlib; print("other tsla prices are correct" if hashlib.md5(str(other_tsla_list).encode()).hexdigest() == '9d855ef64203308925c4259ca8864cda' else "other prices are incorrect")

other tsla prices are correct

In [51]:
second_set = set(other_tsla_list)
s.union(second_set)

{100.79,
 102.37,
 103.25,
 105.2,
 105.72,
 108.02,
 108.52,
 111.1,
 114.12,
 114.58,
 114.9,
 116.63,
 117.89,
 121.49,
 124.31,
 124.54,
 126.19,
 126.36,
 127.02,
 128.8,
 129.79,
 129.99,
 132.1,
 132.4,
 132.56,
 132.64,
 133.51,
 134.8,
 135.3,
 137.54,
 139.35,
 140.42,
 144.09,
 144.75,
 145.17,
 146.97,
 148.75,
 148.95,
 151.3,
 151.98,
 152.15,
 156.31,
 156.41,
 157.89,
 158.24,
 161.55,
 163.06,
 164.27,
 180.86,
 183.68,
 184.2,
 185.57,
 193.8,
 198.29,
 201.32}

### Create a dictionary from the list of TSLA prices. Use the index of the sorted list as the key.

In [78]:
d = {}
for i in range(len(tsla)):
    d[i] = tsla[i]

d

[100.79,
 102.37,
 103.25,
 105.2,
 105.72,
 108.02,
 108.52,
 111.1,
 114.12,
 114.58,
 114.9,
 116.63,
 117.89,
 121.49,
 124.31,
 124.54,
 126.19,
 126.36,
 127.02,
 128.8,
 129.79,
 129.99,
 132.1,
 132.4,
 132.56,
 132.64,
 133.51,
 134.8,
 135.3,
 137.54,
 139.35,
 140.42,
 144.09,
 144.75,
 145.17,
 146.97,
 148.75,
 148.95,
 151.3,
 151.98,
 152.15,
 152.15,
 156.31,
 156.41,
 157.89,
 158.24,
 161.55,
 163.06,
 164.27,
 180.86,
 183.68,
 184.2,
 185.57,
 193.8,
 198.29,
 201.32]

### How many shares of MSFT did we buy? 

Note: remember that for each buy, we bought only 1 share.

In [62]:
len(msft)

100

### What was the average price of our MSFT shares?

In [65]:
float(format(sum(msft)/len(msft),'.2f'))

199.4

### What was the lowest price we paid for a share of MSFT?

In [66]:
min(msft)

136.95

### What was the highest price we paid for a share of MSFT?

In [67]:
max(msft)

270.01

### Sort the list of MSFT prices in place. What were the five lowest prices we paid for MSFT shares?

In [68]:
msft.sort()
msft[:5]

[136.95, 139.53, 141.38, 146.5, 147.97]

### What were the five highest prices we paid for MSFT shares? 

Use a slice that includes a negative number

In [70]:
msft[:-6:-1]

[270.01, 266.9, 257.89, 257.53, 256.97]

### How many unique values do we have in our list of MSFT prices?

In [74]:
s_msft = set(msft)

len(s_msft)

100

### We have another algo running that also buys shares of TSLA. Using the following list and the set from before, output a list of the unique prices of the combined lists.

In [77]:
other_msft_list = [149.73, 151.2, 189.22, 166.28, 187.13, 195.46, 158.8, 154.24, 190.19, 153.23, 192.82, 176.67, 192.04, 177.19]

# to verify the above numbers are correct and have not been altered, uncomment and run the following:
import hashlib; print("other_msft_prices are correct" if hashlib.md5(str(other_msft_list).encode()).hexdigest() == '2340257f15e1472379a92741c3a83fdd' else "other msft prices are incorrect")

set_other_msft_list = set(other_msft_list)
s_msft.union(set_other_msft_list)

other_msft_prices are correct

{136.95,
 139.53,
 141.38,
 146.5,
 147.97,
 149.65,
 149.73,
 151.2,
 151.72,
 152.06,
 153.23,
 154.24,
 157.5,
 158.8,
 162.73,
 165.53,
 166.28,
 167.49,
 167.69,
 174.14,
 174.94,
 175.61,
 176.05,
 176.67,
 177.19,
 177.42,
 179.25,
 180.19,
 181.82,
 183.38,
 183.52,
 183.69,
 184.11,
 184.14,
 184.44,
 185.7,
 186.13,
 186.68,
 187.13,
 187.49,
 189.22,
 190.19,
 191.2,
 192.04,
 192.82,
 193.8,
 195.15,
 195.46,
 195.49,
 198.55,
 199.71,
 199.76,
 200.86,
 202.05,
 202.13,
 202.89,
 203.91,
 204.91,
 205.52,
 205.86,
 206.04,
 207.77,
 208.42,
 208.56,
 208.68,
 211.48,
 212.35,
 212.38,
 213.03,
 213.11,
 213.51,
 214.33,
 217.35,
 220.2,
 220.96,
 222.39,
 222.91,
 224.32,
 226.3,
 230.97,
 234.01,
 234.4,
 234.56,
 234.95,
 235.38,
 235.53,
 237.67,
 240.86,
 243.3,
 243.46,
 246.18,
 247.34,
 251.61,
 251.64,
 253.5,
 256.97,
 257.53,
 257.89,
 266.9,
 270.01}

### Create a dictionary from the list of MSFT prices. Use the index of the sorted list as the key.

In [80]:
msft_dict = {}

for i in range(len(msft)):
    msft_dict[i] = msft[i]
    
msft_dict

{0: 136.95,
 1: 139.53,
 2: 141.38,
 3: 146.5,
 4: 147.97,
 5: 149.65,
 6: 149.73,
 7: 151.2,
 8: 151.72,
 9: 152.06,
 10: 153.23,
 11: 154.24,
 12: 157.5,
 13: 158.8,
 14: 162.73,
 15: 165.53,
 16: 166.28,
 17: 167.49,
 18: 167.69,
 19: 174.14,
 20: 174.94,
 21: 175.61,
 22: 176.05,
 23: 176.67,
 24: 177.19,
 25: 177.42,
 26: 179.25,
 27: 180.19,
 28: 181.82,
 29: 183.38,
 30: 183.52,
 31: 183.69,
 32: 184.11,
 33: 184.14,
 34: 184.44,
 35: 185.7,
 36: 186.13,
 37: 186.68,
 38: 187.13,
 39: 187.49,
 40: 189.22,
 41: 190.19,
 42: 191.2,
 43: 192.04,
 44: 192.82,
 45: 193.8,
 46: 195.15,
 47: 195.46,
 48: 195.49,
 49: 198.55,
 50: 199.71,
 51: 199.76,
 52: 200.86,
 53: 202.05,
 54: 202.13,
 55: 202.89,
 56: 203.91,
 57: 204.91,
 58: 205.52,
 59: 205.86,
 60: 206.04,
 61: 207.77,
 62: 208.42,
 63: 208.56,
 64: 208.68,
 65: 211.48,
 66: 212.35,
 67: 212.38,
 68: 213.03,
 69: 213.11,
 70: 213.51,
 71: 214.33,
 72: 217.35,
 73: 220.2,
 74: 220.96,
 75: 222.39,
 76: 222.91,
 77: 224.32,
 78: 226.3,
 79: 230.97,
 80: 234.01,
 81: 234.4,
 82: 234.56,
 83: 234.95,
 84: 235.38,
 85: 235.53,
 86: 237.67,
 87: 240.86,
 88: 243.3,
 89: 243.46,
 90: 246.18,
 91: 247.34,
 92: 251.61,
 93: 251.64,
 94: 253.5,
 95: 256.97,
 96: 257.53,
 97: 257.89,
 98: 266.9,
 99: 270.01}